{% extends  "layout.html" %}
{% block content %}
    <div id="viz" class="w-full
                         y-full
                         flex
                         flex-col
                         items-center
                         ">
      <div class="w-full relative">
        <img src="{{ url_for('static', filename='img/pexels-katerina-holmes-5905492.jpg') }}"
             alt="Photo of teacher instructing students" 
             class="w-full h-[36rem] object-cover object-center"
             />
        <a href="Photo by Katerina Holmes: https://www.pexels.com/photo/anonymous-ethnic-tutor-helping-little-multiracial-students-with-task-in-classroom-5905492/"
          class="absolute bottom-0 right-0 p-2 text-xs">
          Photo by Katerina Holmes
        </a>
      </div>
      <div class="grow flex flex-col justify-center items-center">
        <p class="font-bold text-sky-400">Research Question:</p> 
        <p class="p-4 mb-4 text-5xl text-center">
          Can difference in funding account for variance </br>in testing scores across PA schools?
        </p>
        <p class="text-2xl">
        We looked at the
        <span class="text-sky-600 font-extrabold text-3xl">500 school districts</span> 
        that make up the Pennsylvania School System to find out.
        </p>
      </div>
    </div>
{% endblock %}
