{% extends  "layout.html" %}
{% block content %}
<div id="viz" class="w-full
                          y-full
                          flex
                          ">
  <div id="graphics" class="w-3/4 flex flex-col items-center justify-center">
    <div id="chart" class="w-full h-full" style="background: transparent;"></div>
    {{ controls | safe }}
  </div>
  <div id="commentary" class="w-1/4
                                   p-4
                                   flex
                                   flex-col
                                   justify-evenly
                                   ">
    <div id="notes">
      {{ note | safe}}
    </div>
    <div id="attributions" class="text-xs">
      {{ attribution | safe }}
    </div>
  </div>
</div>
{% endblock %}
